<footer class="footer">
  <nav class="footer-links" aria-label="Footer navigation">
    <a href="{{ "privacy/" | relURL }}">Privacy</a>
    <a href="{{ "index.xml" | relURL }}">RSS</a>
  </nav>
  <div class="footer_social-icons">
    {{- partial "socialIcons.html" site.Params.socialIcons -}}
  </div>
  <small class="footer_copyright">© {{ now.Format "2006" }} {{ .Site.Params.author.name }}.</small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="{{ T "footer.go_to_top" }}" id="totop">
  {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}

